body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.show {
  background-image: url('/images/tacowall.jpeg');
}
body.new {
  background-image: url('/images/DeliciousDoodles-full.jpg');
}
body.index {
	background-image: url('/images/DriveThruDelight-full.jpg');
}
nav > a {
	padding: 60px;

}
a {
  color: purple;
}

.salute {
	font-family: 'Trade Winds';
	grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow-y: scroll;
	color: yellow;	
	font-size: 60px;
	width:100%;
	margin-bottom: 20px;


	z-index:9999;
}

#post-page {
  /* grid-area: main; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* background-color: #E8ECEB; */
  /* padding: 10px; */
  overflow-y: scroll;
}

.post-title {
  font-size: 20px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}	

#show-page {
  display: inline-block;
  font-size: 50px;
  line-height: 50px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
  background-color: white;
  width: 500px;
}

#comment-page {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow-y: scroll;
  
}
.edit-page {
	/* grid-area: main; */
  display: flex;
  flex-direction: column;
  align-items: center;
	align-content: center;
  padding: 10px;
  /* overflow-y: scroll; */
} 

.edit-message {
	display: inline-block;
  font-size: 50px;
  line-height: 50px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
  background-color: white;
  width: 500px;
}
.comment-user {
	background-color: white;
}

#post-form {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  position: relative;
  max-width: 468px;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  *border-collapse: expression('separate', cellSpacing='10px');
  display: inline-table;
}
td, th {
  text-align: left;
  display: block;
  width: 300px;
  margin-top: 10px;
}

thead {
  display: none;
}




























article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}


/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  /* font-family: cursive; */
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 48px 0;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: url("/images/homepage.jpeg");
  min-height: 100vh;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}