<%- include('../partials/header') %>
<body class="">
    <nav>
    <div class="collapse fs-5" id="navbarToggleExternalContent" >
      <div class="bg-dark p-7">
        <h5 class="text-white h6"></h5>
        <span class="text-muted fs-10;" class="navbar-header"></span>
        <a href="/">
          <img src="/images/TB-Logo.svg" width="40px" height="40px" alt="">
        </a>
        <% if (user) { %>
          <a href="/posts" <%- title === 'Chat' ? 'class="active"' : '' %>>Chat</a>
          <a href="/users">Profile</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN <img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

<h1><%= title %></h1>
<h1>This is your homepage</h1>

<%- include('../partials/footer') %>